<%= form_for(@test_event) do |f| %>
  <% if @test_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_event.errors.count, "error") %> prohibited this test_event from being saved:</h2>

      <ul>
      <% @test_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
